// Styling for the services section
section {
  height: 100%;
  min-height: 100%;
}

.vertical-center {
  top:50%;
  -webkit-transform:translateY(-50%) !important;
  -ms-transform:translateY(-50%) !important;
  transform:translateY(-50%) !important;
}
